{% extends 'core/base.html' %} {% load static %}{% block content %}
<div class="mt-5 ">

    <div class="text-center">
        <img src="{% static 'core/images/ajinkya.jpg' %}" alt="Profile pic" class="img-thumbnail" width="250px" , height="150px">
    </div>

    <div class="mt-5 text-white mx-5 text-justify">
        <h1 class="font-weight-bold st-font">Hello,</h1>
        <div class="px-4" style="line-height: 2rem;">
            <p class="text-indent: 100px;">
                I am <b class="text-warning">Ajinkya Dawange</b>. I am learning Django Right now, trying to build and website. I have no prior experience of Web Development. I even don't know HTML, CSS and JAVASCRIPT but still i manage to build this website
                by watching some tutorials on YouTube.
            </p>
            <p>
                Since i am an ECE student from NIT Surathkal, i have very less experience in this stuffs. I am learing this things on my own.
            </p>
            <p>
                Lorem ipsum dolor sit amet consectetur adipisicing elit. Nihil ratione animi facere consectetur ullam id minima nesciunt ipsum possimus mollitia quo placeat iste iure magnam dolore nostrum porro laborum doloremque, recusandae eius magniquaerat. Illoculpa
                atque nobis dolor modi! Tenetur non nihil eum et, sed recusandae aperiam nesciunt ex natus eos deleniti voluptate voluptates laudantium! Nisi hic maxime, laborum modi provident architecto sed eos quisquam? Earum, architecto aliasiure,
                pariatur quo beatae iusto dignissimos excepturi aperiam cum hic. Rem consequatur voluptas voluptatibus a ipsa quo nobis illo.
            </p>
        </div>
    </div>
    <div class="text-center">
        <a href="{% url 'contact' %}" class="btn btn-outline-warning my-3 mr-5"> Hire me </a><i class="fa fa-space-shuttle" aria-hidden="true"></i>
        <a href="{% url 'contact' %}" class="btn btn-outline-info my-3"> Contact </a>
    </div>
</div>
{% endblock content %}